html, body { height: 100%; }
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main.page-wrapper, .page-wrapper { flex: 1 0 auto; }
footer, .site-footer { 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.search-bar .form-control {
    padding-right: 40px;
}

.search-bar .btn {
    background-color: transparent;
    border: none;
    color: #6c757d;
}

.search-bar .btn:hover {
    color: #000;
}


/* Logout button fixed color */
.btn-logout {
    background-color: maroon;
    color: #fff;
    border: none;
}

.btn-logout:hover,
.btn-logout:focus,
.btn-logout:active {
    background-color: maroon !important;
    color: #fff !important;
    border-color: maroon !important;
    box-shadow: none !important;
}



