body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.search-bar .form-control {
    padding-right: 40px;
}

.search-bar .btn {
    background-color: transparent;
    border: none;
    color: #6c757d;
}

.search-bar .btn:hover {
    color: #000;
}


/* Logout button fixed color */
.btn-logout {
    background-color: maroon;
    color: #fff;
    border: none;
}

.btn-logout:hover,
.btn-logout:focus,
.btn-logout:active {
    background-color: maroon !important;
    color: #fff !important;
    border-color: maroon !important;
    box-shadow: none !important;
}



